/* Style for job cards */
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid columns */
    gap: 10px; /* Gap between grid items */
    justify-items: center; /* Center items horizontally within the grid cells */
    background-color: #f0f8ff; /* Light blue background color */
}

.job-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%; /* Expand to the full width of the grid cell */
    display: grid;
    grid-template-columns: auto 1fr; /* Two columns within job card (for Job ID and content) */
    margin: auto;
    grid-template-rows: auto auto auto 1fr; /* Rows for Job ID, name, user, and log box */
}

/* Style for Job ID */
.job-id {
    grid-row: 2; /* Job ID in the first row */
    /*grid-column: 1; /* Job ID in the first column */
    text-align: center;
}

/* Style for job name and user */
.job-id,
.job-name,
.job-user {
    grid-row: 2; /* Job Name and Job User in the second row */
    /*grid-column: 2; /* Both Job Name and Job User in the second column */
    text-align: center;
    padding-bottom: 9px;
}

.job-name {
    font-weight: bold;
}

/* Style for log box */
.log-box {
    grid-row: 3; /* Log box will span the third row */
    grid-column: span 3; /* Log box will span both columns */
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 5px;
    max-height: 250px; /* Maximum height for the log box */
    white-space: pre-wrap; /* Preserve spaces and line breaks */
    width: 100%;
}

body {
    background-color: ghostwhite;
}
/* Additional styles as needed */